<a href="/food/{{this.id_fooddrink}}">
                        <img class="card-img-top card-img rounded" src="{{this.image}}" alt="Card image cap" height="200px" >
            </a>
            <a href="/food/{{this.id_fooddrink}}">
                <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="price">Giá : {{this.price}} VND</p>