<div class="margin-2rem margin-left-4rem">
    <h3 class="text-white">Đăng Ký Đơn Hàng</h3>
    <div class=" mb-3" style="max-width: 100%; height: 100%">
        <div class="row g-0">
            <div class="col-md-4">
            <a href="/drink/{{fooddrink.id_fooddrink}}">
                <img class="card-img-top card-img rounded" src="{{fooddrink.image}}" alt="Card image cap" width="200px">
            </a>
            </div>
            <div class="col-md-8">
                <div class="card-body margin-left-4rem">
                    <form method="POST" action="/drink/{{fooddrink.id_fooddrink}}/order">
                
                        <a href="/drink/{{foooddrink.id_fooddrink}}">
                            <h4 class="card-title text-white">{{fooddrink.name}}</h4>
                        </a>
                        <p class="price text-white">Giá : {{fooddrink.price}} VND</p>

                        <div class="form-group">
                            <label for="account_player" class="text-white"><h5>Tài Khoản</h5></label>
                            <input type="text" class="form-control" id="account_player" name="account_player">
                            
                        </div>
                        <div class="form-group">
                            <label for="password_player" class="text-white"><h5>Mật Khẩu</h5></label>
                            <input type="password" class="form-control" id="password_player" name="password_player">
                            
                        </div>      
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_fooddrink " name="id_fooddrink" value={{{fooddrink.id_fooddrink}}}>
                        </div>
                        <div class="form-group">
                            <label for="computerNumber" class="text-white"><h5>Máy Tính</h5></label>
                            <input type="number" class="form-control" id="computerNumber" name="computerNumber">
                        </div>
                        <div class="form-group">
                            <label for="note" class="text-white"><h5>Ghi chú</h5></label>
                            <input type="text" class="form-control" id="note" name="note">
                        </div>

                        <button type="submit" class="btn btn-primary margin-1rem" ><h5>Mua Ngay</h5></button>
                    </form>                
                </div>
            </div>
        </div>
    </div>
</div>
