<div class="margin-2rem">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id_order</th>
      <th scope="col">Id_fooddrink</th>
      <th scope="col">Id_player</th>
      <th scope="col">Máy Tính</th>
      <th scope="col">Thời Gian</th>
      <th scope="col">Chú Ý</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
        <tr>
            
            <th scope="row"><p>{{this.id_order}}</p></th>
            <td>{{this.id_fooddrink}}</td>
            <td>{{this.id_player}}</td>
            <td>{{this.computerNumber}}</td>
            <td>{{this.orderTime}}</td>
            <td>{{this.note}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
</div>

